{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{description}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles" class="btn btn-primary">Go to Articles List</a>
<a href="/articles/{{article.id}}/edit" class="btn btn-alert">Edit</a>


{{>layouts/footer}}